/*

	Z-indexes
	Background: 1
	Background author: 2 (51 on hover)
	Main: 50
	Navbar:	60
	Sidebar: 300
	Modal background: 500
	Modal box: 501

*/
/* GENERIC ELEMENTS */

@font-face
{
	font-family: 'roboto';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/fonts/roboto/Roboto-Light.woff') format('woff');
	font-weight: 300;
}

body.slow-transform, body.slow-transform *
{
	transition: color 0.5s, background-color 0.5s, transform 0.3s, filter 0.3s;
}

body
{
	background-color: #d1d1d1;
	color: #808080;
	font-family: 'roboto', sans-serif;
	margin: 0px;
}

a:link, a:visited
{
	color: inherit;
	text-decoration: inherit;
}
a:link:hover, a:link:active
{
	color: inherit;
	box-shadow: 0px 0px 5px;
}

h1
{
	font-size: 2.2em;
	font-weight: bolder;
	letter-spacing: 7px;
	margin: 0px;
}

h2
{
	font-size: 1.4em;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

button
{
	transition-duration: 0.1s;
	margin: 2px;
	background-color: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	border-radius: 1px;
	box-shadow: 0px 1px 4px 0px;
}

button[disabled]
{
	opacity: 0.5;
}

button:not([disabled]):hover
{
	box-shadow: 0px 2px 8px 0px;
}

button:not([disabled]):active
{
	box-shadow: 0px 4px 5px 0px;
	padding-left: 8px;
}

input[type=text], input[type=number]
{
	color: inherit;
	border: none;
	border-radius: 1px;
	padding: 2px;
	margin: 2px;
	box-shadow: 0px 1px 4px 0px;
}

ul
{
	margin: 0px;
	list-style-type: none;
}
li
{
	padding: 4px;
}



/* LAYOUT ELEMENTS */

body
{
	padding-top: 90px;
	background-repeat: no-repeat;
	background-size: 100%;
}

nav, article
{
	position: relative;
	background-color: #f9f9f9;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	box-shadow: 0px 1px 3px;
	text-align: center;
	z-index: 50;
}

div.background
{
	background-size: cover;
	background-position: center;
	display: block;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	height: 100%;
	display: block;
	z-index: 1;
}

div.background.blur
{
	filter: blur(10px);
}

div.background-author-container
{
	transition: font-size 0.3s;
	position: fixed;
	z-index: 2;
	/*transform-origin: right;
	transform: rotate(90deg);*/
	bottom: 5px;
	right: 10px;
	font-size: 0.7em;
	opacity: 0.5;
	text-shadow: 0px 1px 2px black;
}

div.background-author-container:hover
{
	font-size: 1em;
	opacity: 1;
	z-index: 51;
}

nav
{
	position: fixed;
	top: 0px;
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	height: 90px;
	width: 100%;
	z-index: 60;
}

nav div
{
	height: 100%;
	width: 90px;
}
div.nav-right
{
	flex-grow: 0;
}
div.nav-left
{
	flex-grow: 1;
	flex-direction: column;
	align-items: stretch;
	display: flex;
}
div.nav-left div
{
	width: 100%;
}
div.nav-left-top
{
	flex-grow: 1;
}
div.nav-left-bottom
{
	flex-grow: 0;
	height: 2em;
}

button.daynight-style
{
	/*background-color: #68fbff;*/
	border: none;
	border-left: 1px solid #00000030;
	box-sizing: border-box;
	margin: 0px;
	border-radius: 0px;
	box-shadow: none;
	height: 100%;
	width: 100%;
}

button.daynight-style img, button.daynight-style svg
{
	width: 100%;
	height: 100%;
}

button.daynight-style svg path
{
	stroke: #808080;
}

a.topshortcut span
{
	display: inline-block;
	width: 20%;
	padding-left: 20px;
	padding-right: 20px;
}

article
{
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

.subsection
{
	display: block;
	margin-top: 5px;
	padding: 5px;
	background-color: #f9f9f9;
	border: none;
	border-color: #d1d1d1;
	border-radius: 0px;
	box-shadow: 0px 1px 4px 0px;
}

.shortcut-list ul
{
	padding-left: 0px;
}

.shortcut-list li
{
	display: flex;
	align-items: center;
	margin-left: 0px;
}

.shortcut-list li span
{
	flex: 1 1 auto;
}

.shortcut-list li .shortcut-button
{
	visibility: hidden;
	flex: 0 0 auto;
	padding: 0px;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	font-size: 0.8em;
	transition-duration: 0s;
}

.shortcut-list li:hover .shortcut-button
{
	visibility: visible;
}

.wikialist ul
{
}

.wikialist li
{
	display: flex;
	align-items: center;
}

.wikialist span
{
	display: block;
	flex: 1 1 auto;
}

.wikiaid-button
{
	transition-duration: 0s;
	font-size: 0.6em;
	height: 1.6em;
	visibility: hidden;
}

.wikialist li:hover .wikiaid-button
{
	visibility: visible;
}

a.foundry-guess
{
	font-size: 80%;
	cursor: pointer;
}

table.foundrytable
{
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;	
}

table.foundrytable tr, table.foundrytable td
{
}

table.foundrytable th
{
	padding: 3px;
	margin-bottom: 5px;
}

table.foundrytable td
{
	border-top: 1px solid #00000030;
}

tr.foundryheader
{
	box-shadow: 0px 0px 2px 0px inset;
}

th.foundryheader.component
{
	width: 150px;
	border-left: 1px solid #00000030;
	text-align: center;
}

tr.foundryproject
{
	height: 40px;
	font-size: 0.9em;
}

td.foundryproject
{
	font-size: 0.9em;
	padding: 0px;
	vertical-align: middle;
}

td.foundryproject.name
{
	padding-left: 0px;
	font-weight: bold;
}

div.foundryproject-name-container
{
	display: flex;
	align-items: center;
}

div.foundryproject-button-container
{
	flex: 0 0 auto;
	margin-right: 10px;
	display: flex;
}

div.foundryproject-button-move-container
{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

button.foundryproject-button
{
	flex: 1 1 auto;
	font-size: 0.7em;
	width: 100%;
}

td.foundryproject.name, td.foundryproject.blueprint
{
	vertical-align: middle;
	font-size: 1.0em;
}

td.foundryproject.component
{
	text-align: center;
	font-weight: bold;
}

td.foundryproject.component.owned
{
	font-weight: normal;
}

td.foundryproject div
{
	box-sizing: border-box;
}

div.component-numbers
{
	display: flex;
	align-items: stretch;
	padding-left: 10px;
	padding-right: 10px;
}

div.component-numbers span
{
	text-align: center;
	flex: 1 0 auto;
}

button.foundryproject-plusminus
{
	flex: 0 1 0;
	display: inline-block;
	visibility: hidden;
	transition: visibility 0s;
	font-weight: bold;
}

td.foundryproject:hover button.foundryproject-plusminus
{
	visibility: visible;
}

.sidebar
{
	z-index: 300;
	position: fixed;
	top: 0px;
	left: -390px;
	height: 100%;
	width: 340px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 1px 1px 8px 1px;
	/*transform: translateX(390px);*/
}
.sidebar:hover
{
	transform: translateX(390px);
	overflow: auto;
}

.sidebar-settings-container
{
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-content: stretch;
}

.sidebar-settings-button
{
	font-size: 0.7em;
	box-sizing: border-box;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;
}

.sidebar-main-container
{
	flex: 1 0 auto;
}

.sidebar input[type=text]
{
	position: relative;
	width: 97%;
}

.cetus-clock-container
{
	display: flex;
	align-items: center;
	padding: 10px;
	flex-direction: row;
}

.cetus-clock-digital-container
{
	text-align: center;
}

.cetus-clock-eidolon
{
	font-size: 2.2em;
}

.cetus-bounties-label
{
	margin-top: 10px;
	font-size: 0.85em;
}

.cetus-clock-bounties
{
	font-size: 1.2em;
}

.cetus-clock-analog-container
{
	position: relative;
	width: 150px;
	height: 150px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.cetus-clock-analog-container img
{
	position: absolute;
	transition: transform 0s !important;
	transform-origin: 50% 50%;
	left: 0px;
	width: 100%;
}

.sidebar-footer-container
{
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
	text-align: center;
	font-size: 0.6em;
	border-top: 1px solid;
}

.help-button
{
	font-size: 0.7em;
	cursor: pointer;
}

.modal-background
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 500;

	display: none;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9a0;
}

.modal-box
{
	position: relative;
	width: 600px;
	height: auto;
	z-index: 501;

	box-shadow: 0px 3px 10px;

	display: flex;
	flex-direction: column;
}

.modal-box-title
{
	flex-grow: 0;
	margin-bottom: 5px;
}

.modal-box-message
{
	flex: 1 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.modal-box-input-container
{
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.modal-box-input
{
	width: 100%;
}