body.night-mode
{
	background-color: #303030;
	color: #a0a0a0;
}

body.night-mode header, body.night-mode .panel, body.night-mode button, body.night-mode .sidebar
{
	background-color: #303030;
	box-shadow: 0px 1px 7px #101010;
}

body.night-mode button:hover
{
	box-shadow: 0px 2px 8px 0px #181818;
}

body.night-mode button:active
{
	box-shadow: 0px 1px 5px 0px #101010;
}

body.night-mode input
{
	background-color: #282828;
	box-shadow: 0px 1px 3px #101010 inset;
}

body.night-mode input:invalid, body.night-mode.has-background input:invalid
{
	background-color: #522;
}

body.night-mode.has-background
{
	background-color: black;
}

body.night-mode.has-background .panel, body.night-mode.has-background header, body.night-mode.has-background input, body.night-mode.has-background button
{
	background-color: #282828;
	color: #808080;
	opacity: 0.9;
}

body.night-mode div.background
{
	opacity: 0.5;
}

body.night-mode .foundry-item td, body.night-mode #foundry-edit
{
	border-color: #181818;
}